@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root {
  --color-black-1: #0d0d0d;
  --color-black-2: #202020;
  --color-black-3: #383838;
  --color-white-1: #FFFFFF;
  --color-white-2: #F2F2F2;
  --color-white-3: #E5E5E5;

  --color-gray: #5f5f5f;

  --color-red: #EA4335;
  --color-blue: #2f71ab;
  --color-yellow: #272216;
  --color-green: #27ae5f;
  --color-orange: #de9e57;
  --color-violet-1: #bb6cd9;
  --color-violet-2: #68337f;
}
*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}
body {
  height: 100vh;
  font-size: 2vh;
  user-select: none;
  background: var(--color-black-1);
  color: var(--color-white-1);
}
h1 {
  font-size: 12vh;
}
h2 {
  font-size: 8vh;
}
h3 {
  font-size: 6vh;
}
h4 {
  font-size: 4vh;
}
h5 {
  font-size: 3vh;
}
h6 {
  font-size: 2.5vh;
}
a {
  color: var(--color-white-1);
}
.tag {
  margin: 1vh 0;
  display: inline-block;
  padding: 1vh 2vh;
  font-weight: bold;
  color: var(--color-white-1);
  background: #0d0d0d2d;
}
.text_muted {
  color: var(--color-gray);
}
/* ------------------------------------------------- NAV ------------------------------------------------- */
.nav_top {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
}
.nav_top span {
  color: var(--color-white-1);
  font-size: 4vh;
  background: var(--color-black-2);
  padding: 2vh;
  border-radius: 50%;
}
.nav_top div {
  display: flex;
  align-items: center;
  gap: 4vh;
}
.nav_bottom {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
}
.nav_bottom span{
  color: var(--color-white-1);
  font-size: 4vh;
  background: var(--color-black-2);
  padding: 2vh;
  border-radius: 50%;
}

.vertical_menu{
  display: none;
  position: fixed;
}
.vertical_menu span{
  background: none;
}
.menu:hover .vertical_menu{
  display: flex;
  flex-direction: column;
}
/* ------------------------------------------------- HOME ------------------------------------------------- */
.home {
  width: 100%;
  height: 100%;
}
.home_header {
  padding: 15vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_header a{
  margin-top: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------- PROYECTS ------------------------------------------------- */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20vh;
}
.project {
  position: relative;
  width: 189vh;
  height: 90vh;
  background: var(--color-violet-1);
  display: flex;
  padding: 2vh;
}
.project img {
  position: absolute;
  right: 2vh;
  bottom: 2vh;
  min-width: 20%;
  max-width: 60%;
}
.project_info{
  padding: 0 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  height: 100%;
  width: 40%;
}
.project_tags{
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
}
/* ------------------------------------------------- FOOTER ------------------------------------------------- */
.stroke {
  -webkit-text-stroke: 0.05vh var(--color-white-1);
  color: transparent; 
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  height: 70vh;
}
.footer_top {
  width: 90%;
  padding-bottom: 10vh;
  border-bottom: var(--color-white-1) solid 0.2vh;
}
.footer_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  z-index: 2;
}
.footer_bottom_column {
  padding: 3vh 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30vh;
}
.footer_bottom_column div:first-child{
  width: 30%;
}
.footer_bottom_column div{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.footer_bottom_column a:hover{
  border-bottom: var(--color-white-1) solid 0.2vh;
}
.select {
  user-select: text;
}
/* ------------------------------------------------- PROJECTS_TEST ------------------------------------------------- */
.projects_test {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  padding: 5vh;
}
.project_card {
  background-image: url("/public/moon_protocol_test.svg");
  height: 50vh;
  width: 50vh;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.moon_protocool {
  background-image: url("/public/moon_protocol.svg");
}
.project_info {
  transition: .5s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
}
.project_card:hover .project_info {
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
}


.project_card_large {
  background-size: cover;
  height: calc(750/15 * 1vh);
  width: calc(1600/15 * 1vh);
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.admin_dashboard {
  background-image: url("/public/admin_dashboard.png");
}
.weather_app {
  background-image: url("/public/weather_app.png");
}
.todo_app {
  background-image: url("/public/todo_app.svg");
}
.project_info_large {
  transition: .5s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  gap: 2vh;
}
.project_card_large:hover .project_info_large {
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
}
/* ------------------------------------------------- MEDIA_QUERIES ------------------------------------------------- */